<div class="widget">
   <h4>Categories</h4>
    <ul>
    {% assign categories_list = site.categories %}
        {% for category in categories_list %}
            <li><a href="/category/{{ category[0] | downcase }}">{{ category[0] | capitalize }} ({{ category[1].size }})</a></li>
        {% endfor %}
    {% assign categories_list = nil %}
    </ul>
</div><br>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- BlogSideBar -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4793783684558224"
     data-ad-slot="7652505109"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<br><p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>