---
layout: default
title: Hacking
---

<div class="home">
    <div class="container">
        <div class="row">
            <div class="eight columns">
            	{% assign is_posts = false %}
            	{% assign title = page.title | downcase %}
                {% for post in site.posts %}
			        {% for category in post.categories %}
			            {% if category == title %}
			            	<li class="post-preview">
		                        {% if post.thumbnail %}
		                        <img src="{{ post.thumbnail }}">
		                        {% endif %}
		                        <div class="content">
		                            <h2>
		                                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		                            </h2>
		                            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
		                            <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
		                        </div>
		                        <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">READ MORE <span>&roarr;</span></a>
		                    </li>
		                    {% assign is_posts = true %}
			            {% endif %}
			        {% endfor %}
				{% endfor %}

				{% if is_posts != true %}
            		<h4 class="nopost">No posts found!</h4>
				{% endif %}
            </div>
            <div class="four columns sidebar preview">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
</div>
